<% include partials/head %>
   <% include partials/header %>

   <% if(entries.length) {%>
      <% entries.forEach(function(entry){%>
         <div class="panel panel-primary">
            <div class="panel-heading">
               <%= entry.title%>
               <div class="pull-right">
                  <%= entry.published%>
               </div>
            </div>
            <div class="panel-body">
               <%= entry.content %>
            </div>
         </div>
      <%})%>
   <%} else {%>
      <p>No hay entradas</p>
   <%}%>

<% include partials/footer %>
